:root {
    --mainFont: 'Roboto', sans-serif;
    --secondaryFont: 'Roboto Condensed', sans-serif;
    --primaryColor: #1B90FC;
    --white: #FFFFFF;
    --black: #202020;
    --headLine1: 2.5rem;
    --headLine2: 1.5rem;
    --body1-regular: 1rem;
    --body2-regular: 0.875rem;
}

body {
    margin: 0;
    font-family: var(--mainFont);
}

p,
h1 {
    margin: 0;
}

.wrapper {
    /* 1920 - (128 * 2)  */
    max-inline-size: 1664px;
    /* 320 480 768 1024 1240 1366 1440 1920*/
    margin: auto;
    overflow: hidden;
    position: relative;
    top: 274px;
    background-color: var(--black);
}

.hero h1 {
    font-family: var(--secondaryFont);
    font-size: var(--headLine2);
    margin-block-end: 0.5rem;
    text-transform: uppercase;
}

.hero p {
    font-size: var(--body2-regular);
    line-height: 1.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

img {
    /* El 100% Hace referencia al contenedor, en este caso al wrapper */
    max-inline-size: 100%;
    vertical-align: middle;
    block-size: 2rem;
}

.button {
    background-color: var(--primaryColor);
    color: var(--white);
    padding-block: 1rem;
    padding-inline: 2rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1rem;
    inline-size: 100%;
}

.hero-content {
    block-size: 48rem;
    margin-block-start: 20px;
    margin-inline: 20px;
}

.card {
    color: var(--white);
    z-index: 2;
    position: relative;
}

.card-description {
    margin-block-start: 1.58rem;
    margin-block-end: 1.58rem;
}

.hero {
    background-color: var(--black);
    background-repeat: no-repeat;
    position: relative;
    background-size: 100% 274px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 80px), 0 100%);
    block-size: 640px;
    transition: 0.4s;
}

@media screen and (min-width:768px) {
    .hero {
        background-size: 100% 584px;
        block-size: 1024px;
    }
    .wrapper {
        background-color: transparent;
        top: 584px;
    }
    img {
        block-size: 4.21rem;
    }
    .hero p {
        display: block;
        overflow: visible;
    }
}

@media screen and (min-width:1366px) {
    .wrapper {
        max-inline-size: 1664px;
        top: 0;
    }
    .card {
        max-inline-size: 25.75rem;
    }
    .hero {
        background-position: 50% 50%;
        background-size: auto;
        background-size: 2000px 768px;
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 100px), 0 100%);
        block-size: auto;
    }
    .hero::before {
        content: '';
        inline-size: 50%;
        display: block;
        background-color: var(--black);
        inset-block: 0;
        position: absolute;
        clip-path: polygon(0 0, calc(100% - 151px) 0, 100% 100%, 0 100%);
    }
    .hero-content {
        display: flex;
        flex-direction: row;
        margin-block-start: 0;
        align-items: center;
    }
    .button {
        inline-size: auto;
    }
    .hero h1 {
        font-size: var(--headLine1);
    }
    .hero p {
        font-size: var(--body1-regular);
    }
}